/* Additional custom styles if needed */
/* Custom select styling - move arrow to the left */
select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 1rem center; /* Move arrow 1rem from right edge */
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Remove default arrow in IE */
select::-ms-expand {
  display: none;
}
